/* _content/curriculo/Pages/Curriculo.razor.rz.scp.css */
body[b-fx94kr4irg] {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 40px;
    background-color: #f9f9f9;
    color: #333;
}

h1[b-fx94kr4irg], h2[b-fx94kr4irg], h3[b-fx94kr4irg] {
    color: #2c3e50;
}

h3[b-fx94kr4irg] {
    font-size: 24px;
    margin-bottom: 10px;
}

h1[b-fx94kr4irg] {
    font-size: 28px;
    margin-top: 10px;
}

img[b-fx94kr4irg] {
    border-radius: 8px;
    width: 150px;
    height: 200px;
    object-fit: cover;
    margin-top: 10px;
    margin-bottom: 20px;
    border: 3px solid #2c3e50;
}

header[b-fx94kr4irg] {
    background-color: #ecf0f1;
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 20px;
}

    header p[b-fx94kr4irg] {
        margin: 5px 0;
        font-size: 16px;
    }

section[b-fx94kr4irg] {
    background-color: #ffffff;
    padding: 20px;
    margin-bottom: 20px;
    border-left: 5px solid #2c3e50;
    border-radius: 5px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.05);
}

    section h2[b-fx94kr4irg] {
        font-size: 22px;
        margin-bottom: 10px;
        border-bottom: 2px solid #2c3e50;
        padding-bottom: 5px;
    }

ul[b-fx94kr4irg] {
    list-style-type: disc;
    margin-left: 20px;
}

li[b-fx94kr4irg] {
    margin-bottom: 8px;
    font-size: 16px;
}
/* _content/curriculo/Shared/MainLayout.razor.rz.scp.css */
.page[b-qipipuu0rf] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-qipipuu0rf] {
    flex: 1;
}

.sidebar[b-qipipuu0rf] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row[b-qipipuu0rf] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-qipipuu0rf]  a, .top-row .btn-link[b-qipipuu0rf] {
        white-space: nowrap;
        margin-left: 1.5rem;
    }

    .top-row a:first-child[b-qipipuu0rf] {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-qipipuu0rf] {
        display: none;
    }

    .top-row.auth[b-qipipuu0rf] {
        justify-content: space-between;
    }

    .top-row a[b-qipipuu0rf], .top-row .btn-link[b-qipipuu0rf] {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-qipipuu0rf] {
        flex-direction: row;
    }

    .sidebar[b-qipipuu0rf] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-qipipuu0rf] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row[b-qipipuu0rf], article[b-qipipuu0rf] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
/* _content/curriculo/Shared/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-o0miex9wy1] {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row[b-o0miex9wy1] {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand[b-o0miex9wy1] {
    font-size: 1.1rem;
}

.oi[b-o0miex9wy1] {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item[b-o0miex9wy1] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-o0miex9wy1] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-o0miex9wy1] {
        padding-bottom: 1rem;
    }

    .nav-item[b-o0miex9wy1]  a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

.nav-item[b-o0miex9wy1]  a.active {
    background-color: rgba(255,255,255,0.25);
    color: white;
}

.nav-item[b-o0miex9wy1]  a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

@media (min-width: 641px) {
    .navbar-toggler[b-o0miex9wy1] {
        display: none;
    }

    .collapse[b-o0miex9wy1] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
    
    .nav-scrollable[b-o0miex9wy1] {
        /* Allow sidebar to scroll for tall menus */
        height: calc(100vh - 3.5rem);
        overflow-y: auto;
    }
}
