@page "/"

<PageTitle>Index</PageTitle>


<h1>Meu nome é Seong Gi-hun, <strong>o jogadore 456...</strong></h1>
<img src="https://images.everyeye.it/img-notizie/squid-game-3-gi-hun-diventasse-front-man-v3-771683-1200x1200.webp" alt="Alternate Text" />

Nós não somo cavalos somos pessoas, e pessoas são...

<body>

    

    <p>Meu nome é <strong>Seong Gi-hun</strong>, mas durante os jogos fui conhecido como <strong>Jogador 456</strong>.</p>

    <p>Sou um homem comum da Coreia do Sul, e antes de tudo isso acontecer, eu estava passando por um momento muito difícil. Perdi meu emprego, estava afundado em dívidas, e mal conseguia cuidar da minha mãe ou passar tempo com minha filha, Ga-yeong.</p>

    <p>Um dia, recebi um convite misterioso para participar de uma competição. Disseram que eu poderia ganhar muito dinheiro... e eu aceitei, sem saber que estava entrando em um jogo mortal.</p>

    <p>Lá dentro, vi coisas que jamais imaginei. Pessoas desesperadas, lutando pela própria vida por causa de dívidas, como eu. Sobrevivi a tudo aquilo... e ganhei. Mas a vitória teve um preço alto.</p>

    <p>Agora, não posso simplesmente seguir com minha vida. Preciso entender quem está por trás dos jogos e por que eles continuam acontecendo. Eu prometi a mim mesmo que vou fazer alguma coisa.</p>

    <p><em>– Seong Gi-hun (Jogador 456)</em></p>

</body>


