<h3>Curriculo</h3>


<img src="https://suap.ifro.edu.br/media/alunos/150x200/99166.4H9G1HbjcCmE.jpg" alt="Alternate Text" />


<h1>Olá, me chamo Marcus Rheuel</h1>

<header>

    <p>Email: tetoretorno@gmail.com | Telefone: (11) 99999-9999 |</p>

    <p>Endereço: Rua do chupirisco , 123 - Cidade - Estado</p>
</header>

<section class="objetivo">
    <h2>Objetivo</h2>
    <p>Ser um Belo Modelo.</p>
</section>

<section class="formacao">
    <h2>Formação Acadêmica</h2>
    <ul>
        <li><strong>Cursando Informática</strong> - Instituto feederal (2023 - 2025)</li>
        <li><strong>Ensino Médio</strong> - Escola Antonio Barranco (2013 - 2022)</li>
    </ul>
</section>

<section class="habilidades">
    <h2>Habilidades</h2>
    <ul>
        <li>HTML, CSS, JavaScript</li>
        <li>Git e GitHub</li>
        <li>Design Responsivo</li>
    </ul>
</section>

@page "/curriculo"

@code {
   


}
